/* Resetta le impostazioni di default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stile globale */
body {
  font-family: 'DOS_Pixelcity', sans-serif;
  text-align: center;
  color: white;
}

/* Pulsante per cambiare colore */
.color-toggle {
position: fixed;
top: 10px;
left: 50%;
transform: translateX(-50%);
background-color: #00d5ca;
color: white;
border: none;
padding: 10px 20px;
font-size: 16px;
border-radius: 5px;
z-index: 9999; /* Assicurati che sia sopra il model-viewer */
}

.color-toggle:hover {
background-color: #00a1a1;
}

/* Aggiusta lo stile del model-viewer */
model-viewer {
background-color: #fff;
overflow-x: hidden;
width: 100%;
height: 100vh;
object-fit: cover;
}

/* Ar button (per avviare l'esperienza AR) */
#ar-button {
background-image: url(assets/ic_view_in_ar_new_googblue_48dp.png);
background-repeat: no-repeat;
background-size: 20px 20px;
background-position: 12px 50%;
background-color: #00d5ca;
position: absolute;
left: 50%;
transform: translateX(-50%);
white-space: nowrap;
bottom: 132px;
padding: 0px 16px 0px 40px;
font-family: Roboto Regular, Helvetica Neue, sans-serif;
font-size: 14px;
color: #000000;
height: 36px;
line-height: 36px;
border-radius: 5px;
border: 1px solid #000000;
}

#ar-button:active {
background-color: #E8EAED;
}

#ar-button:focus {
outline: none;
}

#ar-button:focus-visible {
outline: 1px solid #000000;
}
